.toy-cards {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

.toy-card-preview {
    border: 1px solid rgba(192, 192, 192, 0.274);
}