.main-layout {
max-width: 1020px;
padding: 0 20px;
}

.toy-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    max-width: 1400px;
    padding: 0 30px;
}